#bolListTable{
    tr{
        td{
            text-align: center;
        }
        td:nth-child(2){
            text-align: left;
        }
        td:nth-child(5){
            text-align: right;
        }
    }
}
#detailDialog{
    .dialogContent{
        .row{
            padding-bottom: 15px;
        }
        #historyBol{
            text-align: center;
            margin-bottom: 15px;
        }
    }
}
