#addUserDialog,
#editUserDialog,
#userTypeManager,
#userPlaceManager {
    .container {
        .dialogContent {
            margin-top: 15px;
            margin-bottom: 10px;
            form {
                text-align: center;
            }
        }
    }
}
#userListTable {
    tbody {
        tr {
            td:not(:nth-child(2)) {
                text-align: center;
            }
        }
    }
}
#userTypeTable,
#userPlaceTable {
    tbody {
        tr {
            td:not(:nth-child(3)) {
                text-align: center;
            }
        }
    }
}
