.dataTables_filter {
    width: 35%;
    input[type="search"] {
        width: calc(100% - 100px);
    }
}
.dataTables_length, .dataTables_filter{
    margin-bottom: 10px;
}
.dataTable {
    //All selector of tables
    overflow-x: auto;
    box-shadow: 1px 1px 1px 1px #ccc;
    th {
        background-color: #dcf4fc;
    }
}
