body {
    background-color: #EEEEEE;
    /* Banner */
    @import "banner";
    /* Menu */
    @import "menu";
    /* Data Table*/
    @import "datatable";
    /* Footer */
    @import "footer";
    .main{
        margin-top: 15px;
        margin-bottom: 15px;
        .leftContent{
        }
        .mainContent{
            min-height: calc(100vh - 255px);
            > .row{
                margin-bottom: 15px;
            }
            .action{
                text-align: right;
                .btn {
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}